button{
    background-color:blue;
    color: white;
    border: 1px;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* affected only to input field which is type of text */
input[type=text]{
    width: 30%;
    border: 2px solid black;
    border-radius: 4px;
    padding: 8px 16px;
}

/* Display contents of body to center */
body{
    text-align: center;
}

.resultTable{
    display: inline-block;
}